<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheet %}{% endblock %}
    <!-- stylesheet for base.html -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="navitems">
                <!-- A grey horizontal navbar that becomes vertical on small screens -->
                <nav class="navbar navbar-expand-sm navbar-custom">
                    <!--Links -->
                    <ul class="navbar-nav">
                        {% for i in header %}
                        {% if active == i %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ header[i] }}">{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ header[i] }}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="hofwb">
                House of Five White Bricks
            </div>
        </div>
    </header>
<article>
    <div id="article">
        {% block content %}
        
        {% endblock %}
    </div>
</article>
<footer>
    <div class="footer">
        Created By Dylan Perez
    </div>
</footer>
{% block script %}

{% endblock %}
</body>
</html>