{% extends 'base.html' %}

{% block title %}Lights{% endblock %}
{% block stylesheet %}
<!-- stylesheet for lights.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/lights.css') }}">
{% endblock %}
{% block content %}
<div class="container-fluid">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        {% for i in dict %}
        <tr>
            <td><img class="lightpictures" src="/static/images/light{{ i }}small.jpg" alt="{{ dict[i]['name'] }}" width="75px"></td>
            <td>{{ dict[i]['name'] }}</td>
            <td>
                <label class="switch">
                    {% if dict[i]['state']['on'] == False %}
                    <input type="checkbox" id="light{{ i }}" onclick="output('{{ i }}')">
                    {% else %}
                    <input type="checkbox" id="light{{ i }}" onclick="output('{{ i }}')" checked="True">
                    {% endif %}
                    <span class="slider round"></span>                
                </label>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/lights.js') }}"></script>
{% endblock %}