{% extends 'base.html' %}

{% block title %}Special Functions{% endblock %}
{% block stylesheet %}
<!-- stylesheet for special.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/special.css') }}">
{% endblock %}

{% block content %}
<div class="gridcontainer">
    <div class="gridelement">
        <a href="./dylan">Turn on/off my light</a>
    </div>
    <div class="gridelement">
        <a href="./leopard">Turn off night lights</a>
    </div>
    <div class="gridelement">
        <a href="./morning">Morning On</a>
    </div>
    <div class="gridelement">
        <a href="./dogzebra">Darken Ship</a>
    </div>
</div>
{% endblock %}